psg-ads-n-tiam-2024-2-relatos-bh.sln
src/RelataBH/.vs/ProjectEvaluation/relatabh.metadata.v9.bin
src/RelataBH/.vs/ProjectEvaluation/relatabh.projects.v9.bin
src/RelataBH/.vs/ProjectEvaluation/relatabh.strings.v9.bin
src/RelataBH/.vs/RelataBH/config/applicationhost.config
src/RelataBH/.vs/RelataBH/DesignTimeBuild/.dtbcache.v2
src/RelataBH/.vs/RelataBH/FileContentIndex/2b86a7a3-e5d9-4d5a-872f-1d74ee499d5a.vsidx
src/RelataBH/.vs/RelataBH/FileContentIndex/18c4e2fe-fa49-4bd3-bfdc-35be86e8b390.vsidx
src/RelataBH/.vs/RelataBH/FileContentIndex/35b9daa3-dcef-412c-b3bf-2e34f47bb1dd.vsidx
src/RelataBH/.vs/RelataBH/FileContentIndex/d4644ebe-78ae-4b1f-9de6-f97d1afbeb3e.vsidx
src/RelataBH/.vs/RelataBH/FileContentIndex/dd584502-5136-44de-a87f-1cc0d8087bc1.vsidx
src/RelataBH/.vs/RelataBH/v17/.futdcache.v2
src/RelataBH/.vs/RelataBH/v17/.suo
src/RelataBH/.vs/RelataBH/v17/DocumentLayout.backup.json
src/RelataBH/.vs/RelataBH/v17/DocumentLayout.json
