psg-ads-n-tiam-2024-2-relatos-bh.sln
src/RelataBH/.vs/*
/src/RelataBH/RelataBH/.gitignore
/src/RelataBH/RelataBH/appsettings.json
/src/RelataBH/RelataBH/appsettings.Development.json
/src/RelataBH/RelataBH/appsettings.json
